 /* .blue {
    color: blue;
} */

/* user-select : none */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}



/* h1{
    font-size: 10rem;
    font-weight: 200;
} */

#main {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#btn{
    height: 100px;
    width: 100px;
    background-color: "green";
    padding: 32px 82px;
}