

* {
    margin: 0;
    padding: 0;
    font-family: 'Arial';
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #f8f8f8;
}

#main{
    height: 100%;
    width: 100%;
    position: relative;
    padding-top: 1px;
}

nav{
    height: 10vh;
    width: 100%;
    margin-top: 40px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Bug: parent relative ho aur uske andar element ho, dono ke bich me gap na ho tb element ko margin top diya, to wo parent ko bhi niche la leta  FIX: dono ke bich >0.1 ki gap  "padding-top: 1px;"*/

nav h2{
    border-right: 2px solid black;
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2vw;
    font-weight: 600px;
}

nav h3{
    display: none;
}

/* last se 1st child */ 
nav h2:nth-last-child(1){ 
    width: 10%;
    border: none;
}

nav h2:nth-last-child(2){ 
    width: 29%;
}

nav h1{
     font-family: "Boldonse";
     font-size: 27px;
     border-right: 2px solid black;
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2vw;
    font-weight: 600px;
    position: relative;
}

nav h1::after{
    content: "©";
    font-family: 'Courier New';
    position: absolute;
    top:24%;
    right:30%;
}

#center{
    height: 100%;
    width: 100%;
    position: relative;
    padding: 4vw;
}

#content{
    height: 100%;
    width: 100%;
    position: relative;
}

#content video{
    height: 80%;
    width: 100%;
    object-fit: cover;
}

#overlay{
    height: 70%;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 3vw;
}


#over1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    margin-bottom: 4vh;
}

#over1 h1{
    font-size: 2vw;
    font-family: "Boldonse" ;
}

#over1 h2{
    font-size:2vw;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 1.2vw 1.3vw;
}

#over2{
    display: flex;
    align-items: center;
    padding-top: 2.8vh;
    justify-content: space-between;
    border-top: 2px solid white;
    color: white;
}

#over2 img{
    height: 3vw;
}

#scroll{
    height: 40vh;
    width: 100%;
    /* background-color: red; */
    padding: 1vw;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
}

#container{
    height: 100%;
    width: 100%;
    /* background-color: blue; */
    display: inline-block;
    animation-name: anime;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#container img{
    height: 70%;
    width: 14.3%;
    margin: 1vw;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
}

@keyframes anime{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-50%);
    }
}

#alphabet{
    height: 4vw;
    width: 100%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

#alphabet h4{
    font-size: 1vw;
    font-style: italic;
}

#alphabet h6{
    font-size: 0.8vw;
    padding: 0.6vw 0.8vw;
    border-radius: 50%;
    
}

#alphabet h6:hover{
    border: 1px solid rgb(85, 85, 85);
}

#page2{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5vw  10vw;
}

#page2-part2{
    height: 100%;
    width: 46%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
#page2-part1{
    height: 100%;
    width: 50%;
    background-image: url('./images/girl1.jpeg');
    background-size: cover;
    background-position: center;
}

#page2-part2 img{
    height: 70%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

#page2-text{
    display: flex;
    margin-bottom: 2vh;
    justify-content: space-between;
    gap: 4vw;
}

#page2-part2 h4{
    font-size: 1.5rem;
}

#page2-part2 h5{
    font-size: 1.2rem;
}

#page3{
    height: 100%;
    width: 100%;
    padding: 5vw;
    position: relative;
}

#page3>h1{
    text-align: center;
    font-size: 2.3vw;
    font-family:"Boldonse";
    margin-bottom:9vh;
}


.elem{
    height: 16vh;
    width: 100%;
    border-top: 2px solid #000;
    padding: 0 3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all ease 0.7s;
}

.elem:hover {
    background-color: #e2e1e1;
}

.elem:nth-last-child(1){
    border-bottom: 2px solid #000;
}

.elem h3{
    font-weight: 500;
    text-transform: uppercase;
}

.elem-right{
    width: 40%;
}
.elem-right h2{
    font-weight: 500;
    font-size: 1.8vw;
}
.elem-right h6{
    font-weight: 600;
    font-size: 0.9vw;
    margin-top: 1vh;
    text-transform: uppercase;
}

.elem img{
    height: 130px;
    width: 130px;
    position: absolute;
    opacity:0;
    left: 24%;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
    transition: all ease 0.7s;
}
.elem:nth-last-child(3) img{
    left:50%;
}
.elem:nth-last-child(1) img{
    left:50%;
}

.elem:hover img{
    opacity: 1;
    left: 34%;
}

#marquee{
    width: 100%; 
    margin-top: 3rem;

    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;

    padding:2vw  3vw;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

#marquee h1{
    display: inline-block;
    font-size: 3rem;
    -webkit-text-stroke: 2px black;
    color: transparent;
    margin-right: 16px;

    animation: anime;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


@keyframes anime {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(calc(-100% - 20px)); 
    }
}
/* marign right 16px aur 4px by default rhta*/


#footer{
    height: 10%;
    width: 100%;
}


@media (max-width: 600px) {
    body{
        overflow-x: hidden;
    }
nav{
    height: 7vh;
    margin-top: 20px;
    padding: 0 5vw;
}

nav h3{
    display: inline;
}

nav h2{
    display: none;
}

nav h1{
     border-right: none;
    width: 30%;
    justify-content: flex-start;
    font-size: 0.7vw;
}

nav h1::after{
    display: none;
}


#center{
    height: 50%;
    padding: 6vw;
}

#over1{
    margin-bottom:3vh;
}

#over1 h1{
    font-size: 2vw;
}
#over2 h2{
    font-size: 1rem;
}


#scroll{
    height: 30vh;
}


#container{
    height: 100%;
    width:200%;
}

#container img{
    height: 65%;
    width: 15%;
}

#alphabet{
    height: 9vw;
}

#alphabet h6{
    padding: 0.6vw 0.4vw;
}


#page2{
    height: 80%;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5vw  8vw;
}

#page2-part2{
    height: 80%;
}
#page2-part1{
    height: 80%;
    width: 50%;
}

#page2-part2 img{
    height: 50%;
}

#page2-text{
    justify-content: flex-start;
    flex-direction: column;
}

#page2-part2 h4{
    font-size: 1.1rem;
}

#page2-part2 h5{
    font-size: 1rem;
    font-weight: 400;
}

#page3{
    padding: 1vw;
    height: 65%;
}

#page3>h1{
    font-size: 1.4rem;
    margin-bottom:6vh;
}


.elem{
    height: 12vh;
    padding: 0 5vw;
}

.elem-right{
    width: 39%;
}
.elem-right h2{
    font-size: 1.2rem;
}

.elem img{
    height: 80px;
    width: 80px;
    left: 30%;
}

.elem:hover img{
    opacity: 1;
    left: 39%;
}


}