html, body, #main {
    height: 100%;
    width: 100%;
    margin: 0;
}


#main{
    
    height: 100% ;
    width: 100%;
    display: grid;
    grid-template-columns: 25% 25% 50%;
    grid-template-rows : 20% 60% 20%;
}


#square{
    height: 30px;
    width: 30px;
    background-color: black;
    rotate: 45deg;
    margin: 30px;
}

#left-top-right{
    text-align: right;
    justify-self: right;
    align-self: start;
    margin-right: 20px;
}

#left-top-right h2{
    margin-bottom: 60px;
}

#left-top-right h3{
    font-size: 0.9em;
    line-height: 9px;
}



#left-center{
    
    grid-column: 1/3;
    font-size: 2.6em;
    line-height: 0.3;
    text-transform: uppercase;
    font-family:Arial;
    padding: 25px;
}

#left-center h1:nth-child(2n){
    text-align: center;
}

#left-bottom{
    grid-row: 3/5;
    grid-column: 1/3;
}
#left-bottom p{
    font-size: 1.4rem;
    padding: 15px;
}
#right{
    grid-row: 1/4;
    grid-column: 3/4;
    padding: 40px;
}

.video{
    height: 40rem;
    width: 100%;
    object-fit: cover;
}

.arrow{
    height: 7rem;
    width: 7rem;
    background-color: orangered;
    position: absolute;
    top: 50%;
    left: 47%;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow i{
    font-size: 30px;
}

#menu h6{
    display:none;
}


@media (max-width: 600px) {
    #main{
    grid-template-columns: 50% 50%;
    grid-template-rows : 30px 40% 30% 40%;
}

#left-top-right i{
    display: block;
}

#square{
    height: 20px;
    width: 20px;
    margin: 20px;
}

#left-top-right h2{
    display : none;
}
#left-top-right h3{
    display : none;
}

#left-top-right{
 font-size: 2rem;
 /* align-self: center; */
 top: 0.9rem;
 position: absolute;
}

#left-center{
    grid-column: 1/3;
    font-size: 1.7em;
    padding: 30px;
}
#left-bottom{
    grid-row: 3/5;
    grid-column: 1/3;
}
#left-bottom p{
    font-size: 1rem;
    padding: 40px 15px 5px;
}
#right{
    grid-row: 4/5;
    grid-column: 1/3;
    padding: 40px;
}

.video{
    height: 20rem;
}

.arrow{
    height: 3rem;
    width: 3rem;
    top: 70%;
    left: 47%;
    rotate: 90deg;
}

.arrow i{
    font-size: 20px;
}


}