
  .card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
  }
  
  .card {
    width: 300px;
    border-radius: 25px;
    background-color: #FFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: hidden;
  }
  
  .image-content {
    position: relative;
    padding: 25px 0;
    background-color: #4070F4;
    border-radius: 25px 25px 0 25px;
  }
  
  .overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(64, 112, 244, 0.6);
    border-radius: 25px 25px 0 25px;
  }
  
  .overlay::before,
  .overlay::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #4070F4;
  }
  
  .overlay::before {
    right: 0;
    top: 100%;
  }
  
  .overlay::after {
    right: 0;
    top: 100%;
    background-color: #ffffff;
    border-radius: 0 25px 0 0;
  }
  
  .card-image {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #FFF;
    padding: 3px;
    margin: auto;
  }
  
  .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #4070F4;
    position: absolute;
    left: -3px;
    top: -2px;
    outline: 5px solid white;
  }
  
  .name {
    font-size: 18px;
    font-weight: 500;
    color: #333;
    margin-top: 10px;
  }
  
  .description {
    font-size: 14px;
    color: #707070;
    padding: 10px;
  }
  
  .button {
    border: none;
    font-size: 16px;
    color: #FFF;
    padding: 8px 16px;
    background-color: #4070F4;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #265DF2;
  }
  